a {
    text-decoration: none;
    color: #222;
}

.header__contentent {
    padding: .6rem .8rem;
    background-color: #f8f8f8;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.header__search {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgb(224, 223, 223);
}

.header__search input {
    background-color: #fff;
    padding: .3rem 1.2rem;
    border: none;
}

.header__search span {
    background-color: #00aaff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem 1rem;
}


/* .header__bottom {
    margin-bottom: 1rem;
} */