a {
    text-decoration: none;
    color: #222;
}

.header__content {
    padding: .6rem .8rem;
    background-color: #f8f8f8;
}

.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.header__search {
    display: grid;
    grid-template-columns: 10fr 1fr;
    align-items: center;
    background-color: #fff;
    border: 1px solid rgb(224, 223, 223);
}

.header__search input {
    background-color: #fff;
    padding: .3rem 1.2rem;
    border: none;
}

.header__search span {
    background-color: #00aaff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem 1rem;
}


/* Header Menu */

.header__menu {
    position: absolute;
    top: 6rem;
    left: -24rem;
    transition: .5s;
}

.showMenu {
    position: absolute;
    top: 5.5rem;
    left: 0;
    height: max-content;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    transition: .5s;
    box-shadow: 2px 3px 6px 1px grey;
}


/* Header top */

.headerMenu__top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1rem;
    color: #747474;
    padding: 1.2rem;
}

.headerMenu__top a {
    color: #00aaff;
}

.headerMenu__top-account {
    border-right: 2px solid grey;
    margin-right: 1rem;
    padding-right: 1rem;
}

.headerMenu__top-account>div,
.headerMenu__top-contact>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMenu__top-contact>div>a {
    margin-left: .5rem;
}


/* HeaderMenu List */

.headerMenu__content {
    padding-bottom: 1.2rem;
}

.headerMenu-list {
    list-style: none;
    padding: 0;
}

.headerMenu-list-item {
    padding: 1rem 1.2rem;
    border-bottom: 1px solid #bdbdbd;
}

.headerMenu-list a {
    color: #727272;
}

.headerMenu-list a:hover {
    color: #00aaff;
}

.discount-link {
    padding: 1.2rem;
    font-weight: bold;
    color: #00205b;
}


/* HeaderMenu Footer */

.headerMenu__footer-marks {
    background-color: #222;
    padding: 1.2rem;
}

.headerMenu__footer-marks h5 {
    color: #fff;
    padding: 1rem 0;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.headerMenu__footer-mark {
    padding: 1rem 0;
}

.headerMenu__footer-mark img {
    max-width: 100%;
    height: auto;
    width: 6rem;
    object-fit: cover;
}

.headerMenu__footer-mark p {
    color: #fff;
    margin-bottom: 0;
}