/* Header Menu */

.header__menu {
    position: absolute;
    top: 6rem;
    left: -20rem;
    transition: .5s;
}

.showMenu {
    position: absolute;
    top: 5.5rem;
    left: 0;
    height: max-content;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    transition: .5s;
    box-shadow: 2px 3px 6px 1px grey;
}


/* HeaderMenu List */

.headerMenu__content {
    padding-bottom: 1.2rem;
}

.headerMenu-list {
    list-style: none;
    padding: 0;
}

.headerMenu-list-item {
    padding: 1rem 1.2rem;
    border-bottom: 1px solid #bdbdbd;
}

.headerMenu-list a {
    color: #727272;
}

.headerMenu-list a:hover {
    color: #00aaff;
}

.discount-link {
    padding: 1.2rem;
    font-weight: bold;
    color: #00205b;
}


/* HeaderMenu Footer */

.headerMenu__footer-marks {
    background-color: #222;
    padding: 1.2rem;
}

.headerMenu__footer-marks h5 {
    color: #fff;
    padding: 1rem 0;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.headerMenu__footer-mark {
    padding: 1rem 0;
}

.headerMenu__footer-mark img {
    max-width: 100%;
    height: auto;
    width: 6rem;
    object-fit: cover;
}

.headerMenu__footer-mark p {
    color: #fff;
    margin-bottom: 0;
}

.headerMenu__footer-bottom {
    padding: 1.2rem;
}

.headerMenu__footer-bottom p {
    font-weight: bold;
    font-size: 1.1rem;
    color: #747474;
}

.headerMenu__footer-bottom-account>div {
    display: flex;
}

.headerMenu__footer-bottom-contact>div>a {
    margin-left: .5rem;
}